<h1>Veuillez confirmer vôtre adresse email</h1>

<p>
   Confirmer vôtre adresse email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    ce lien expirera dans une  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
