
<!DOCTYPE html>
<html>
<body>

<h3>Bonjour Mr/Mme {{nom|upper }} vôtre commentaire << {{message}} >> sur ISGO STAGE a été envoyé</h3>
<p>Recevez en pièce jointe vôtre document</p>
  <p>Un de nos agents vous répondra sous peu</p>
  <p>Merci beaucoup et à bientôt</p>
</body>
</html>
