<footer class="footer-box">
    <div class="container">

   <div class="row">
   
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
       <div class="footer_blog">
        <div class="full margin-bottom_30">
  
       </div>
       <div class="full white_fonts">
          <p> Isgo stage est une plateforme de recherche de stages parmi tant d'autres. C'est sa crédibilitée , sa fiabilitée qui font d'elle la plateforme idéale qu'elle est et qui la différencient des autres. </p>
       </div>
     </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
         <div class="footer_blog footer_menu white_fonts">
            <h3>Liens rapides</h3>
            <ul> 
            <li><a href="#">> Web design</a></li>
            <li><a href="#">> Graphic design</a></li>
            <li><a href="#">> Web development</a></li>
          </ul>
         </div>
     </div>
     
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
     <div class="footer_blog full white_fonts">
             <h3>Notre Newsletter</h3>
           <p>Entrez votre mail pour avoir vent de toutes nos publicités et annonces</p>
           <div class="newsletter_form">
              <form action="<?php echo $creat_path;?>" method="POST">
               <input type="email" placeholder="Your Email" name="email"  />
               <button>Submit</button>
            </form>
           </div>
         </div>
      </div>	 
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
     <div class="footer_blog full white_fonts">
             <h3>Contact us</h3>
           <ul class="full">
             <li><?php img_tag('i5.png','');?><span>Cotonou<br>Benin</span></li>
             <li><?php img_tag('i6.png','');?><span><a href="mailto:isgostage@qctgroup.net">isgostage@qctgroup.net</a></span></li>
             <li><?php img_tag('i7.png','');?><span>+229 91713761 / 67849817</span></li>
           </ul>
         </div>
      </div>	 
    
   </div>

    </div>
</footer>
<!-- End Footer -->

<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="crp">© Copyrights 2022 design by isgostage.com</p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>